* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
  height: 65px ;
  display: flex;
  align-items: center;
  background-color: #ADDFFF;
  text-align: center;
  width:100%;

}

.header ul {
  /*ここはもともとdisplay:flex;があったがul liにinline-blockを入れて対応した*/
}



.header ul li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  text-align: center;
  width: 130px;
  font-size: 18px;
}



.header-logo {
 padding-left: 15px;
 padding-right:15px;
 font-size: 25px;
 font-weight: bold;
}



.banner {
height: 500px;
padding: 0px;
width:100%;
background-size: cover;
}

img {
  height:auto;
  max-width: 100%;
}




/*ここから次のメモまではネットからの引用*/
.banner {
  overflow: hidden;
  position: relative;
}

.banner:before {
  animation: banner 1s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes banner {
  100% {
    transform: translateX(100%);
  }
}
/*ここまで*/



.introducion {
  padding: 30px;
  width:100%;
}

.intro-title {
  font-size:20px;
  font: arial;
  margin-bottom: 15px;

}

.intro-text {
  font-size: 15px;

}

.intro-text p {
  padding-bottom: 5px;

}

.intro-text a {
  border-bottom: 1px solid black;
}


.photos {
  padding-top:60px;
  padding:25px;
}

.photos h3 {
  margin-bottom: 20px;
}

.images {
  display:flex;
  flex-wrap:wrap;
}

.photo {
  width:50%;
  display: flex;
}

.photo p {
  font-size: 15px;
  padding-top:10px;
  font-weight: bold;
  font-style: italic;
}

.images li {
  width: 50%;
  list-style: none;
  /*これを消して文字を上に　align-items: center;*/
  display: flex;
  margin-bottom: 20px;
}

.caution {
  padding:20px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  width:400px;
  height:80px;
  background-color: #FFFAA0;
  margin-bottom: 10px;
}


h2 {
  padding-left: 25px;
}

.question {
  text-align: center;
}

.question p {
  margin: 20px;
  font-family: arial;
}


.footer {
  background-color:#DCDCDC;
  text-align:center;
  padding:30px;
}


.index /*footer index*/ {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color:black;
  font:arial;
}

.header ul li a:hover {
opacity:0.8;
border-bottom:1px solid black;
}

.intro-text a:hover {
  opacity:0.6;
  border-bottom: 1px solid black;
}


/*ここから下はスマホ用設定*/
@media (max-width:480px) {
  .header-logo {
    padding-left: 15px;
    padding-right:15px;
    font-size: 15px;
    font-weight: bold;
  }

}
